/* 
    Solution #26
*/

#garden {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50px 0 0 0; /* this also works, but I don't know why, yet! */
}

#water {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
}
 /* grid garden level 26 solutions? */