/* 
    Solution #28
*/

#garden {
    display: grid;
    grid-template: ;
}

/*
grid-template: 150px 1fr 1fr 1fr 1fr 1fr / 150px 1fr;
repeat(5, 20%)
5fr / 150px 1fr;

seems to work: grid-template: 5fr 50px / 150px 1fr;
*/